<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseEase</title>
</head>
<body>

    <div class="main4">
        <nav class="navbar">
            <div class="logo">
                <img src="https://i.pinimg.com/564x/82/62/2e/82622ecc0617adea8ebd455689afc860.jpg" alt="">
            </div>
            <ul class="nav-list">
                <a href="/">Home</a>
                <a href="/profile">Profile</a>

            </ul>
        </nav>

        <div class="container">
            <h1>Upload Image</h1>
            <form action="/upload" class="form" method="post" enctype="multipart/form-data">
                <input type="file" class="input" name="avatar" />
                <button>Upload</button>
            </form>
        </div>

    </div>
   
   
</body>
</html> 